body {
  box-sizing: border-box;
  margin: 0px; }
  body * {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px; }

h1 {
  font-size: 48px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 20px; }

body {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: #f9faff; }

.sl-container {
  display: flex;
  justify-content: center; }
  .sl-container .sl-background {
    position: relative; }
  .sl-container .sl-content {
    max-width: 470px;
    min-width: 280px;
    width: 70%;
    position: absolute;
    top: 18%; }
    .sl-container .sl-content .sl-upper-content {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 28px;
      font-weight: 900;
      color: #293356;
      z-index: 1; }
      .sl-container .sl-content .sl-upper-content .sl-upper-circle {
        position: absolute;
        z-index: -1;
        top: -90%;
        left: 32%; }
    .sl-container .sl-content span {
      color: #848ead;
      font-size: 15px;
      font-weight: 500; }
  .sl-container .sl-background {
    background-image: url("/images/bg-pattern.svg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat; }

.sl-lower-content {
  display: flex;
  padding: 40px 0px;
  background-color: white;
  box-shadow: 0px 0px 1px 0px;
  border-radius: 8px;
  margin-top: 70px;
  flex-direction: column; }
  .sl-lower-content .sl-lower-content-head {
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .sl-lower-content .sl-lower-content-head .sl-lower-content-pageview {
      color: #848ead;
      font-size: 14px;
      word-spacing: 2px; }
    .sl-lower-content .sl-lower-content-head .sl-lower-content-money {
      color: #293356;
      font-size: 40px;
      font-weight: 900; }

.sl-slider {
  padding: 25px 40px 0px;
  width: 100%;
  margin: 0 auto; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ecf0fb;
  background: linear-gradient(270deg, #ecf0fb 0%, #a4f3eb 30%, #80fff3 65%, #10d8c4 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  margin-top: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("/images/icon-slider.svg") no-repeat center;
  background-color: #10d8c4;
  background-size: inherit;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 10px #80fff3;
  -moz-box-shadow: 0px 0px 30px 10px #80fff3;
  box-shadow: 0px 0px 30px 10px #80fff3; }

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 0;
  background: url("/images/icon-slider.svg");
  background-color: aqua;
  background-repeat: no-repeat;
  background-color: red;
  cursor: pointer; }

.sl-billing {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px; }
  .sl-billing .sl-monthly {
    font-size: 12px;
    font-weight: 400;
    color: #848ead; }
  .sl-billing .sl-yearly {
    font-size: 12px;
    font-weight: 400;
    color: #848ead; }
  .sl-billing .sl-switch {
    cursor: pointer;
    position: relative;
    width: 43px;
    height: 22px;
    margin: 0 16px;
    padding: 4px;
    background: #cfd8ef;
    border-radius: 100px; }
    .sl-billing .sl-switch .switch {
      position: absolute;
      height: 14px;
      width: 14px;
      margin: 0;
      border-radius: 50%;
      background: white;
      left: 4px; }
    .sl-billing .sl-switch .active {
      position: absolute;
      height: 14px;
      width: 14px;
      margin: 0;
      border-radius: 50%;
      background: white;
      left: 25px; }
  .sl-billing .sl-discount {
    margin-left: 9px;
    padding: 2px 7px 2px 6px;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    color: #ff8d68;
    background: #feede8;
    border-radius: 9.5px;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }

.sl-switch:hover {
  background: #7aeadf; }

.sl-trial {
  border-top: 1px solid #848ead;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .sl-trial .sl-promotion {
    display: flex;
    padding-top: 20px;
    flex-direction: column; }
  .sl-trial svg path {
    width: 20px;
    height: 20px; }
  .sl-trial .promo {
    display: flex;
    padding-top: 20px;
    align-items: center; }
    .sl-trial .promo .promo-check {
      background-image: url("/images/icon-check.svg");
      width: 10px;
      height: 10px;
      background-repeat: no-repeat; }
    .sl-trial .promo p {
      padding-left: 10px;
      font-size: 12px;
      color: #848ead; }
  .sl-trial .sl-button {
    margin-top: 60px; }
    .sl-trial .sl-button .trial-button {
      background-color: #293356;
      color: white;
      font-weight: 400;
      font-size: 12px;
      border-radius: 40px;
      border: none;
      padding: 10px 45px; }
    .sl-trial .sl-button :hover {
      background-color: #3e5091;
      cursor: pointer; }

@media (max-width: 576px) {
  .sl-lower-content {
    min-width: 280px; }
  .sl-lower-content-head {
    padding-top: 30px;
    flex-direction: column; }
    .sl-lower-content-head .sl-lower-content-money {
      font-size: 32px !important; }
    .sl-lower-content-head span {
      font-size: 14px !important; }
  .sl-billing {
    padding: 0px 15px; }
  .active {
    left: 20px !important; }
  .sl-trial {
    flex-direction: column; }
  .sl-button {
    margin-top: 30px !important; }
  .sl-lower-content-head :nth-child(1) {
    order: 1; }
  .sl-lower-content-head :nth-child(3) {
    order: 2; }
  .sl-lower-content-head :nth-child(2) {
    order: 3; }
  .sl-lower-content-head {
    padding: 0px !important;
    flex-direction: column !important; }
  .sl-lower-content-money {
    padding-top: 20px; } }
